
.sectionCard{
    background-color: #f5f7fa;
    width: 30vw;
    /* padding: 10px 20px ; */
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    border: 1px solid #dadada;
}
.sectionCard>h3{
    display: block;
    border-bottom:1px solid #dadada ;
}
.sectionCard>*{
    text-wrap: pretty;
    padding: 0px 10px 10px 20px;
    font-size: 1.1em;
}